In [13]:
import csv
import datetime as dt
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import matplotlib.dates as mdate
import datetime

In [2]:
os.getenv("DFDATA")

'/gws/open/NYCOpenData/nycopendata/data'

In [4]:
df = pd.read_csv(os.getenv("DFDATA")+"/./b295-zu6t/1476458677/b295-zu6t.csv")

In [5]:
df.head()

,Ticket Number,Violation Date,Violation Time,Issuing Agency,Respondent Last Name,Respondent First Name,Balance Due,Violation Location (Borough),Violation Location (Block No.),Violation Location (Lot No.),...,Charge #8: Code Description,Charge #8: Infraction Amount,Charge #9: Code,Charge #9: Code Section,Charge #9: Code Description,Charge #9: Infraction Amount,Charge #10: Code,Charge #10: Code Section,Charge #10: Code Description,Charge #10: Infraction Amount
0,012049691Z,12/30/2015,13:18:00,FIRE DEPARTMENT OF NYC,ONE WEST 190TH ST,NaN,$0.00,BRONX,3201.0,56.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,012049727L,01/02/2016,05:20:00,FIRE DEPARTMENT OF NYC,THE BOARD OF MANAGERS OF THE 9,50 WESTCHESTER,$0.00,BRONX,2703.0,7501.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,012049820X,01/05/2016,07:34:00,FIRE DEPARTMENT OF NYC,GREENHOPE CANDACE HDFC,NaN,$5000.00,MANHATTAN,1807.0,15.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,012049863X,01/06/2016,08:30:00,FIRE DEPARTMENT OF NYC,THE BOARD OF MANAGERS OF UNION,SQUARE EAST CONDO,$0.00,MANHATTAN,870.0,7501.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,011455786Z,02/22/2016,10:30:00,FIRE DEPARTMENT OF NYC,NY PUBLIC LIBRARY,037,$0.00,BRONX,5141.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
new_df = pd.DataFrame({"Violation Time":df["Violation Time"],
                      "Violation Location (Lot No.)": df["Violation Location (Lot No.)"]})
new_df.head()

   Violation Location (Lot No.) Violation Time
0                          56.0       13:18:00
1                        7501.0       05:20:00
2                          15.0       07:34:00
3                        7501.0       08:30:00
4                         100.0       10:30:00

In [15]:
V_time = list(new_df["Violation Time"])
V_location = list(new_df["Violation Location (Lot No.)"])
x = [dt.datetime.strptime(elem, '%H:%M:%S') for elem in V_time]
plt.plot(x, V_location, rot = 90)
plt.show()

ValueError: time data '24:00:00' does not match format '%H:%M:%S'